In [1]:
momFilesPathAndWildCard  = '/mnt/volume/jupyter/szokereso/cron2/szokeresores/momentumraszurt/live_updated3_dict_onlymomentum_data_*_dfUnifiedNanFilteredOnlySomeColsUpdated3.csv'

In [27]:
import datetime
import glob
import pandas as pd

In [28]:
def get_files_sorted_by_date_after_a_date(look_for_this_pattern,cutoffdate):
    
    csvs = glob.glob(look_for_this_pattern)
    datetimes=[datetime.datetime(int(each.split('/')[-1][37:41]),
                                 int(each.split('/')[-1][42:44]),
                                 int(each.split('/')[-1][45:47]),
                                 int(each.split('/')[-1][48:50]),
                                 int(each.split('/')[-1][51:53])) for each in csvs]

    dt_csvs_filtered=[[dt, csv] for dt, csv in zip(datetimes,csvs) if dt >= datetime.datetime(*cutoffdate)]
    
    sorted_filtered_csvs = [csv
                        for _, csv in sorted(
                                         zip([eachpair[0] for eachpair in dt_csvs_filtered],
                                             [eachpair[1] for eachpair in dt_csvs_filtered]))]
    
    return sorted_filtered_csvs

In [29]:
def getFilesOnGivenWeek(dayOfFirstDayOfWeek):
    
    sevenDayAfterDay = dayOfFirstDayOfWeek + datetime.timedelta(days=7)
    
    return list(
    set(get_files_sorted_by_date_after_a_date(momFilesPathAndWildCard,[dayOfFirstDayOfWeek.year,
                                                                       dayOfFirstDayOfWeek.month,
                                                                       dayOfFirstDayOfWeek.day,0]))-\
    set(get_files_sorted_by_date_after_a_date(momFilesPathAndWildCard,[sevenDayAfterDay.year,
                                                                       sevenDayAfterDay.month,
                                                                       sevenDayAfterDay.day,0])))

In [30]:
day=datetime.datetime(2020,7,20,0)

In [31]:
weekfiles = getFilesOnGivenWeek(day)

In [35]:
df = pd.read_csv(weekfiles[0])

In [41]:
dfMomentumCols = df[[col for col in df.columns if 'momentum' in col]]

In [45]:
dfMomentumCols

,momentumdict0clssd,momentumdict1clssd,momentumdict2clssd,momentumdict3clssd,momentumdict4clssd,momentumdict5clssd,momentumdict6clssd,momentumdict7clssd,momentumdict8clssd,momentumdict9clssd
0,Hadházy Ákos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Momentum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Momentum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Momentum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Momentum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
130,Pikó András,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Fekete-Győr András,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Hadházy Ákos,Szél Bernadett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Momentum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Momentum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
pd.unique(pd.concat([dfMomentumCols[col] for col in dfMomentumCols]))

array(['Hadházy Ákos', 'Momentum', 'Pikó András', 'Donáth Anna',
       'Cseh Katalin', 'Mándi László', 'Szél Bernadett',
       'Fekete-Győr András', 'Soproni Tamás', 'Orosz Anna',
       'Kerpel-Fronius Gábor', 'Körömi Attila', nan, 'Kádár Barnabás',
       'Balogh Csaba'], dtype=object)

In [6]:
import pandas as pd
import numpy as np
nan = np.nan
data = {'observation0': ['A','A','A','A','B'],'observation1': ['B','B','B','C',nan], 'category': ['a', 'b', 'c','a','b']}
df = pd.DataFrame.from_dict(data)

In [7]:
df

  observation0 observation1 category
0            A            B        a
1            A            B        b
2            A            B        c
3            A            C        a
4            B          NaN        b

In [42]:
observations = pd.unique(pd.concat([df[col] for col in df.columns if 'observation' in col]).dropna())

In [44]:
observations

array(['A', 'B', 'C'], dtype=object)

In [10]:
df.apply(lambda row: int('A' in [row[col] for col in df.columns if 'observation' in col] and row['category'] is 'a'),axis=1)

0    1
1    0
2    0
3    1
4    0
dtype: int64

In [11]:
categories = pd.unique(df['category'])

In [12]:
df.apply(lambda row: 0 in [row[col] for col in df.columns if 'observation' in col] ,axis=1)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [13]:
df

  observation0 observation1 category
0            A            B        a
1            A            B        b
2            A            B        c
3            A            C        a
4            B          NaN        b

In [14]:
from tqdm import tqdm
tqdm.pandas()

In [17]:
df.apply(lambda row: int(observation in [row[col]
                                                 for col in df.columns
                                                 if 'observation' in col]
                                 and row['category'] is category),axis=1)

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [45]:
for observation in observations:
    for category in categories:
        df['obs_'+observation+'_in_cat_'+category]=\
        df.apply(lambda row: int(observation in [row[col]
                                                 for col in df.columns
                                                 if 'observation' in col]
                                 and row['category'] is category),axis=1)

In [19]:
df[[col for col in df.columns if '_in_cat_' in col]].sum()

obs_A_in_cat_a    2
obs_A_in_cat_b    1
obs_A_in_cat_c    1
obs_B_in_cat_a    1
obs_B_in_cat_b    2
obs_B_in_cat_c    1
obs_C_in_cat_a    1
obs_C_in_cat_b    0
obs_C_in_cat_c    0
dtype: int64

In [20]:
df

,observation0,observation1,category,obs_A_in_cat_a,obs_A_in_cat_b,obs_A_in_cat_c,obs_B_in_cat_a,obs_B_in_cat_b,obs_B_in_cat_c,obs_C_in_cat_a,obs_C_in_cat_b,obs_C_in_cat_c
0,A,B,a,1,0,0,1,0,0,0,0,0
1,A,B,b,0,1,0,0,1,0,0,0,0
2,A,B,c,0,0,1,0,0,1,0,0,0
3,A,C,a,1,0,0,0,0,0,1,0,0
4,B,NaN,b,0,0,0,0,1,0,0,0,0