In [151]:
import pandas as pd

In [206]:
personDataDict = pd.read_csv('/mnt/volume/jupyter/szokereso/person_data-1592394309231_utf8.csv')

In [155]:
df = persondatadict.name_list.str.split('|',expand=True).rename(columns=(lambda num: 'alias'+repr(num)))

In [160]:
drFiltered=\
df[[col for col in df.columns if 'alias' in col] # take each column with the string "alias" in them
    ].apply(lambda r: pd.Series( # take each row as input of a function, the result will be put in a series
            name.replace('Dr. ','').replace('dr. ','') for name in r # iterate through contents of the row, replace "Dr. " & "dr. " with nothin
            if type(name) is not float and name is not None),axis='columns') # only do this when the cell content is not None or float, apply apply() along each column ie to each row

In [171]:
drFiltered = drFiltered.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
# ^^^^ to get rid of leading/trailing spaces in dicts like ' Nagy Mária' or 'Nagy Mária ', using https://stackoverflow.com/a/45355563/8565438

In [203]:
drFilteredUniquized = pd.DataFrame(list(map(pd.unique, drFiltered.values))
# ^^^^ each row should contain one value only once, using: https://stackoverflow.com/a/63583984/8565438
                                   ).rename(columns=(lambda col: 'alias'+repr(col)))
                                   # ^^^^ rename columns

In [208]:
newPersonDataDict = \
personDataDict[['personid']
              ].join(drFilteredUniquized
              ).join(persondatadict[['szulido','birthlocation','halalido','deathlocation','profession_list']])

In [209]:
newPersonDataDict

,personid,alias0,alias1,alias2,alias3,alias4,alias5,alias6,alias7,alias8,...,alias37,alias38,alias39,alias40,alias41,szulido,birthlocation,halalido,deathlocation,profession_list
0,2,Nagy Jenő,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,"textiltechnikus, katolikus pap, országgyűlési ..."
1,3,Nagy Mária,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,1954.05.10,Kisvárda,NaN,NaN,országgyűlési képviselőjelölt
2,4,Balogh Csaba,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,országgyűlési képviselőjelölt
3,5,Ipkovich György,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,1954.03.17,Szombathely,NaN,NaN,"ügyvéd, ügyész, polgármester, jogtanácsos, ors..."
4,6,Vörösné Bánk Judit,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,1954.09.05,NaN,NaN,NaN,országgyűlési képviselőjelölt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102684,101841,Polgári Sándor,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,1894,NaN,1925,NaN,NaN
102685,44121,Barnóth Zoltán,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,1951,NaN,NaN,NaN,NaN
102686,104107,Batthyány Andrea,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,1995.09.13,Budapest,NaN
102687,102110,Nadhoranszky János,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,18. század,NaN,18. század,NaN,NaN
102688,60045,Kasza Béla,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,1955,NaN,NaN,NaN,NaN

In [201]:
drFiltered.rename(columns=(lambda col: 'alias'+repr(col)))

,alias0,alias1,alias2,alias3,alias4,alias5,alias6,alias7,alias8,alias9,...,alias32,alias33,alias34,alias35,alias36,alias37,alias38,alias39,alias40,alias41
0,Nagy Jenő,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nagy Mária,Nagy Mária,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Balogh Csaba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ipkovich György,Ipkovich György,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vörösné Bánk Judit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102684,Polgári Sándor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102685,Barnóth Zoltán,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102686,Batthyány Andrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102687,Nadhoranszky János,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102688,Kasza Béla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
df0 = pd.DataFrame({'a': ['A', 'A', 'C', 'B'],
                   'b': ['B', 'D', 'B', 'B'],
                   'c': ['C', 'C', 'C', 'A'],
                   'd': ['D', 'D', 'B', 'A']},
                   index=[0, 1, 2, 3])

In [195]:
df1 = pd.DataFrame({'bb': ['BB', 'DD', 'BB', 'BB'],
                   'cc': ['CC', 'CC', 'CC', 'AA']},
                   index=[0, 1, 2, 3])

In [199]:
df0[['a','b']].join(df1).join(df0['d'])

   a  b  bb  cc  d
0  A  B  BB  CC  D
1  A  D  DD  CC  D
2  C  B  BB  CC  B
3  B  B  BB  AA  A

In [188]:
df1

   bb  cc
0  BB  CC
1  DD  CC
2  BB  CC
3  BB  AA

In [189]:
import datetime
import pandas as pd
import numpy as np

todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date-datetime.timedelta(10), periods=4, freq='D')

columns = ['A','B', 'C']
data = np.array([[1, 2, 2], [3, 0, 5], [0, 4, 0], [3, 4, 5]])
df = pd.DataFrame(data, index=index, columns=columns)

In [190]:
df

            A  B  C
2020-08-15  1  2  2
2020-08-16  3  0  5
2020-08-17  0  4  0
2020-08-18  3  4  5

In [193]:
df['C'].replace(to_replace=0, method='ffill')

2020-08-15    2
2020-08-16    5
2020-08-17    5
2020-08-18    5
Freq: D, Name: C, dtype: int64

In [163]:
drFilteredUniquized

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,Nagy Jenő,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Nagy Mária,Nagy Mária,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Balogh Csaba,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Ipkovich György,Ipkovich György,NaN,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Vörösné Bánk Judit,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102684,Polgári Sándor,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
102685,Barnóth Zoltán,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
102686,Batthyány Andrea,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
102687,Nadhoranszky János,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
102688,Kasza Béla,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [141]:
pd.concat(
    [df,df[[col for col in df.columns if 'alias' in col]]\
        .apply(lambda r: pd.Series(
            name.replace('Dr. ','') for name in r
            if type(name) is not float and name is not None))]
    ,join='outer',axis='columns')\
.apply(lambda x : pd.Series(x[x.notnull()].values.tolist()+x[x.isnull()].values.tolist()),axis='columns') #https://stackoverflow.com/q/45970751/8565438

KeyboardInterrupt:

In [131]:
df = pd.DataFrame({'a': ['A', 'A', 'C', 'B'],
                   'b': ['B', 'D', 'B', 'B'],
                   'c': ['C', 'C', 'C', 'A'],
                   'd': ['D', 'D', 'B', 'A']},
                   index=[0, 1, 2, 3])

In [132]:
df = pd.DataFrame(list(map(pd.unique, df.values)))

In [134]:
df.values

array([['A', 'B', 'C', 'D'],
       ['A', 'D', 'C', None],
       ['C', 'B', None, None],
       ['B', 'A', None, None]], dtype=object)

In [128]:
import numpy as np

In [130]:
duplicates = df.apply(pd.Series.duplicated, axis=1)
df.where(~duplicates, None).apply(lambda x: pd.Series(sorted(x, key=pd.isnull)), axis=1)

   0  1     2     3
0  A  B     C     D
1  A  D     C  None
2  C  B  None  None
3  B  A  None  None

In [115]:
df1 = df.stack().reset_index().drop(columns='level_1').drop_duplicates()

df1['col'] = df1.groupby('level_0').cumcount()
df1 = (df1.pivot(index='level_0', columns='col', values=0)
          .rename_axis(index=None, columns=None))

In [125]:
df1

   0  1    2    3
0  A  B    C    D
1  A  D    C  NaN
2  C  B  NaN  NaN
3  B  A  NaN  NaN

In [84]:
df.apply(set).str.join(', ')[0]

'A, C, B'

In [106]:
df=df.apply(lambda row: pd.Series(row).drop_duplicates(keep='first'),axis='columns')\

In [107]:
df = df.apply(lambda x : pd.Series(x[x.notnull()].values.tolist()+x[x.isnull()].values.tolist()),axis='columns')

In [99]:
df = pd.DataFrame({'A':[1,2,3,4],'B':[5,5,6,7],'C':['a','a','b','c'], 'D':['c','d','e','f']})

In [108]:
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+-----+-----+-----+-----+
|    | 0   | 1   | 2   | 3   |
|----+-----+-----+-----+-----|
|  0 | A   | B   | C   | D   |
|  1 | A   | D   | C   | nan |
|  2 | C   | B   | nan | nan |
|  3 | B   | A   | nan | nan |
+----+-----+-----+-----+-----+

In [91]:
from tabulate import tabulate

In [44]:
persondatadict.join(persondatadict.name_list.str.split('|',expand=True))

,personid,name_list,szulido,birthlocation,halalido,deathlocation,profession_list,0,1,2,...,32,33,34,35,36,37,38,39,40,41
0,2,Nagy Jenő,NaN,NaN,NaN,NaN,"textiltechnikus, katolikus pap, országgyűlési ...",Nagy Jenő,None,None,...,None,None,None,None,None,None,None,None,None,None
1,3,Nagy Mária | dr. Nagy Mária,1954.05.10,Kisvárda,NaN,NaN,országgyűlési képviselőjelölt,Nagy Mária,dr. Nagy Mária,None,...,None,None,None,None,None,None,None,None,None,None
2,4,Balogh Csaba,NaN,NaN,NaN,NaN,országgyűlési képviselőjelölt,Balogh Csaba,None,None,...,None,None,None,None,None,None,None,None,None,None
3,5,Ipkovich György | dr. Ipkovich György,1954.03.17,Szombathely,NaN,NaN,"ügyvéd, ügyész, polgármester, jogtanácsos, ors...",Ipkovich György,dr. Ipkovich György,None,...,None,None,None,None,None,None,None,None,None,None
4,6,Vörösné dr. Bánk Judit,1954.09.05,NaN,NaN,NaN,országgyűlési képviselőjelölt,Vörösné dr. Bánk Judit,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102684,101841,Polgári Sándor,1894,NaN,1925,NaN,NaN,Polgári Sándor,None,None,...,None,None,None,None,None,None,None,None,None,None
102685,44121,Barnóth Zoltán,1951,NaN,NaN,NaN,NaN,Barnóth Zoltán,None,None,...,None,None,None,None,None,None,None,None,None,None
102686,104107,Batthyány Andrea,NaN,NaN,1995.09.13,Budapest,NaN,Batthyány Andrea,None,None,...,None,None,None,None,None,None,None,None,None,None
102687,102110,Nadhoranszky János,18. század,NaN,18. század,NaN,NaN,Nadhoranszky János,None,None,...,None,None,None,None,None,None,None,None,None,None
102688,60045,Kasza Béla,1955,NaN,NaN,NaN,NaN,Kasza Béla,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
persondatadict['name_list'].str.split('|',expand=True)[40].dropna()

26671                    C.
38994     Leblanc, Jean-Paul
Name: 40, dtype: object

In [21]:
persondatadict.name_list[38994]

"Nemere István | Biró Dániel | Tihanyi István | Stone, Richard | Nordking, Stephanie | Saint Etienne, Anton de | Moward, T. | Nording, S. | Smith, R. C. | Wilmon, Vanessa | Seymour, Lilly | Darieni, Raymond | Florion, Daniel | Hamilton, Henry | Herrington, Stuart | Maloney, Mack | Moretti, Melissa | Niemayer, Stefan | Nording, Steve | Patrick, Paul | Patton, Palma | Welden, Oscar | Al-Saffin, Salome | Preston, Angela | Harrington, Stuart | Dax, Norbert | Repton, Steve | Forest, Nigel | Altamira, Alissa | Lottinge, Klaus von | Sent-Èt'en Antuan de | Alihanov, P. Sz. | Alihanov, Pjotr Sztyepanovics | Brandt, Chris | Kiss-Béry Miklós | Messina, Maria | Kovács Gergely István | Falvai Róbert | Watson, Neil Omar | Morton, Steve, Sir | Leblanc, Jean-Paul"

In [40]:
persondatadict

,personid,name_list,szulido,birthlocation,halalido,deathlocation,profession_list
0,2,Nagy Jenő,NaN,NaN,NaN,NaN,"textiltechnikus, katolikus pap, országgyűlési ..."
1,3,Nagy Mária,1954.05.10,Kisvárda,NaN,NaN,országgyűlési képviselőjelölt
2,4,Balogh Csaba,NaN,NaN,NaN,NaN,országgyűlési képviselőjelölt
3,5,Ipkovich György,1954.03.17,Szombathely,NaN,NaN,"ügyvéd, ügyész, polgármester, jogtanácsos, ors..."
4,6,Vörösné dr. Bánk Judit,1954.09.05,NaN,NaN,NaN,országgyűlési képviselőjelölt
...,...,...,...,...,...,...,...
102684,101841,Polgári Sándor,1894,NaN,1925,NaN,NaN
102685,44121,Barnóth Zoltán,1951,NaN,NaN,NaN,NaN
102686,104107,Batthyány Andrea,NaN,NaN,1995.09.13,Budapest,NaN
102687,102110,Nadhoranszky János,18. század,NaN,18. század,NaN,NaN
102688,60045,Kasza Béla,1955,NaN,NaN,NaN,NaN

In [153]:
dicts=[
    '/mnt/volume/jupyter/szokereso/person_data-1592394309231_utf8.csv',
    '/mnt/volume/jupyter/szokereso/A_negyedik_Orbán-kormany_allamtitkarainak_listaja.csv',
    '/mnt/volume/jupyter/szokereso/List of Settlements_m2.xlsx',
    '/mnt/volume/jupyter/szokereso/szotar_2.1.xlsx',
    '/mnt/volume/jupyter/szokereso/instit_dict_2.1_updated_headers.xlsx/mnt/volume/jupyter/szokereso/geo2.csv',
    '/mnt/volume/jupyter/szokereso/geo2.csv',
    '/mnt/volume/jupyter/szokereso/corporate2.csv'
]